

	.content-hidden, .login-hidden {
	  display: none;
	}
aside { background-color: black;
color: white; }

body {

	background-color: #ffe6f2 !important;	
}



main {

	width: 1100px;
	background-color: #ff99cc;
	margin: auto; 
    padding: 20px;
	height: auto;
	font-family: monospace;
	font-size: 20px;
	text-align: justify;
}

header {

}

nav {

}

footer {
	background-color: orange;
	width: 1100px;
	height: 20px;
	margin: auto;
	padding: 10px 20px 30px 20px;

}


h2 {
	padding: 40px 20px 40px 20px;
}

h3 {
	font-weight: bold !important;
	text-decoration: underline; 
	
}

p {
	padding: 0px 20px 10px 20px;
}

article {
	padding: 20px 20px 10px 20px;
	font-size: 22px;
	text-align: left;
}

li {
	margin: 10px;
}

a {
	color: blue !important;
}

a:hover {
	color: red !important;
}

figcaption {font-size: 18px;}

#scroll {
	text-align: right;
	font-size: 30px;	
	margin-left: 99%;
}

#lesson-head {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
}

#spaced-bullet-points {
	line-height: 1.4;
}

/* Intro  */

		#intro {
			padding-top: 10px;
			
		}

		#intro-heading {
			padding: 20px 20px 0px 20px ;
		}

		#videoplaceholder {
			
			width: 1024px;
			padding-top: 10px;
			margin: auto;
			
		}

		#intro-images {
			width: 1000px;
			height: auto;
			margin: auto;
			padding-top: 10px;
			padding-bottom: 10px;
		}

/*Ruth-Asawa*/



		#S-228 {
			width: ;
			height: 800px;
		
			padding-top:;
		}


#ruth-asawa {
	padding: 20px 10px 20px 15px;
	background-color: #ffe6f2; 
}
#Ruth-Asawa-Voice-Note {
	padding: 80px 0px 100px 100px;
}

#Ruth_studio {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	
	text-align: center;
}

/* Task 1 */

		#task-one {
			background-color: 	#D3D3D3;
		}

		#news-words {
			width: 800px;
			margin: auto;
			padding: 20px 0px 40px 0px;
		}

    	.imgBox {
    		margin-top: 60px;
    		
	      height: 550px;
	      margin-right: auto;
	      margin-left: auto;
	      background: url(orangemindmap.png) no-repeat;
	      background-size: 950px;
	      background-position: center;
	      width: 950px;
   	 	}
    	.imgBox:hover {
    		margin-top: 60px;
    		
	      height: 550px;
	      background: url(greenmindmap.png) no-repeat;
	      background-size: 950px;
	      background-position: center;
	      margin-right: auto;
	      margin-left: auto;
	      width: 950px;
    	}

/* Task 2 */

		#task-two {
			background-color: #D3D3D3;
		}

		#object-carosel {
			margin:  150px 0px 100px 0px;
		}
				.mySlides {
		  width: 400px;
		  position: relative;
		  margin: auto;
		}

/* Shot Sizes */

		#hover-text {
			color: red;
		}

/* lenses */
		#lenses {
			clear: both;
			background-color: white;
			margin: 700px 0px 0px 0px;
			padding: 30px 10px 50px 10px;

		}

    	#fish-eye {
    	
    		padding: 0px;
	        height: 450px;
	        margin: auto;
	        text-align: center;
   	 	}
    	#macro {
    		
    		
	      height: 450px;
	      text-align: center;      
	      margin-left: 30px;
	      
    	}
/* Camera angles */

/* Storyboarding */

		#michelson-storyboard {
			text-align: center;
			padding-top: 20px;
		}

/* Camera movements */


/* Hitchcock text */

		#Hitchcock {
			width: 600px;
			padding-bottom: 50px;
		}

/* billboard-test */
		#billboard-test {
			background-color: #ffe6f2;
		}

		#test {
			width: 850px;
			margin: auto;
			padding: 40px 10px 30px 10px;
			background-color: #D3D3D3;
		}

    	.billboard {
    		margin-top: 60px;
    		
	      height: 550px;
	      margin-right: auto;
	      margin-left: auto;
	      
	      background: url(billboard_empty.png) no-repeat;
	      background-size: 950px;
	      background-position: center;
	      width: 950px;
   	 	}
    	.billboard:hover {
    		margin-top: 60px;
    		
	      height: 550px;
	      
	      background: url(billboard-school.png) no-repeat;
	      background-size: 950px;
	      background-position: center;
	      margin-right: auto;
	      margin-left: auto;
	      width: 950px;
    	}

/* Task three */

		#task-three {
			background-color: #D3D3D3;
		}

/* Filming with a smartphone */

		#spacer-padding {
			padding-top: 60px;
		}

		#dot-bubble {
			text-align: right;
			padding: 60px 80px 20px 0px;
		}
		#filmmaking-materials {
			width: 1100px;
			margin: auto;
			padding: 40px 0px 40px 0px ;
		}

		#filming-ratio {
			width: 600px;
			margin: auto;
			padding-top: 30px;
		}

		#mobile-filming{
			width: 800px;
			margin: auto;
			padding-top: 60px;
		}

		#SMARTPHONE-FILMING-TECHNIQUES {
			padding-top: 150px;
		}

/* Task four */

		#task-four {
			background-color: white;
		}

		#speach-bubble {
			padding: 100px 0px 50px 0px;
			width: 300px;
			margin-left: 50%
		}
		#voice-memo {
			width: 150px;
			margin: auto;
			padding-top: 10px;
			padding-bottom: 20px;
		}


/* post production*/

		#app-icons {
			width: 110px;

		}
		#extension-task {
			margin-top: 100px;
			background-color: white;
			padding: 5px 10px 10px 10px;
		}

/* goodbye*/

		#hand-phone {
			width: 400px;
			height: 410px;
			float: left;
			padding-top:;
		}

		#final-message {

			width: 640px;
			height: 410px;
			float: right;
			padding-top:;
			background-color: white;
			padding-top: 15px;

		}

/* camera technique gifs*/

		#gif-section {
			clear: both;
			padding-top: 200px
		}

		#gif-right {
			float: right;
			padding-right: 20px;
		}

		#gif-text-left {
			float: left;
			width: 370px;
			height: 360px;
			background-color: #ffe6f2;
			text-align: center;
		}

		#gif-left {
			float: left;
		}

		#gif-text-right {
			float: right;
			width: 370px;
			height: 360px;
			margin-right: 20px;
			background-color: #ffe6f2;
			text-align: center;
		}

		h4 {
			font-size: 22px !important;
			font-weight: bold !important;
			padding: 40px 0px 20px 0px;
		}
















